*{
    margin:0;
    padding: 0;
    outline: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

a,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
}

body{
    overflow-x: hidden;
}


/* main css start */

/*============== TopHeader CSS ============ */

#topHeader{
    padding: 20px 0;
    background: #012D72;
}
.topHeader_item a i{
 color: #fff;
}

.topHeader_item span{
    color: #fff;
}

.icons_item{
    padding-left: 10px;
}

/* ============= Header css =============== */
header{
    background: #fff;
    padding: 20px 0;
    box-shadow: -1px -2px -3px solid gray;
    margin-top: 0;
}


.navbar ul li a {
    /* font-family: var(--abel_font_family); */
    font-size: 16px;
    color: #353535;
    text-transform: uppercase;
    font-weight: 500;
}

/* ========== banner css ========== */

#banner{

}

.owl-carousel>.slider>img{
    position: absolute;
    display: block;
    max-width:100%;
    height: auto;
    line-height: 1;
}

#about{
    padding: 50px 0;

}

