@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin:0;
    padding: 0;
    outline: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

a,p,h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

img{
    vertical-align: middle;
}

body{
    overflow-x: hidden;
}

b,strong{
    font-weight: 700;
}



/* main css start */

/*============== TopHeader CSS ============ */

#topHeader{
    padding: 20px 0;
    background: #012D72;
}
.topHeader_item a i{
 color: #fff;
}

.topHeader_item span{
    color: #fff;
}

.icons_item{
    padding-left: 10px;
}

/* ============= Header css =============== */
header{
    background: #fff;
    padding: 20px 0;
    box-shadow: -1px -2px -3px solid gray;
    margin-top: 0;
}


.navbar ul li a {
    /* font-family: var(--abel_font_family); */
    font-size: 16px;
    color: #353535;
    text-transform: uppercase;
    font-weight: 500;
}

/* ========== banner css ========== */

#banner{

}

.owl-carousel>.slider>img{
    position: absolute;
    display: block;
    max-width:100%;
    height: auto;
    line-height: 1;
}

#about{
    padding: 50px 0;

}

.about_content{

}

.about_content h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    color:#313290;
    margin-bottom:20px;

}

.about_content p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6em;
    color: #656565;
}

/* =========== Footer css ========== */
#footer{
    padding: 15px 0;

}

.widget{
    color:#f8f8f8;
}

.footer_common_design{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 1.1em;
    color:#f8f8f8;
    margin-bottom:20px;

}

